<div class="flex flex-col text-center">
  <div class="flex flex-col flex-grow self-center w-[600px]">
    <h1 class="text-7xl text-white font-bold">CHECK IN</h1>

    <div class="mt-12 text-white">
      <ul class="flex flex-wrap w-full gap-6 justify-center">
        <li *ngFor="let therapist of therapists"
          class="flex-[1_1_calc(33.333%-1rem)] min-w-[calc(33.333%-1rem)] max-w-[calc(33.333%-1rem)]">
          <input type="radio"
            id="therapist-{{therapist.name}}"
            name="hosting"
            [value]="therapist.name"
            class="hidden peer "
            required
            [(ngModel)]="selectedTherapist" />
          <label for="therapist-{{therapist.name}}"
            class="inline-flex items-center justify-center w-full p-3 text-gray-700 rounded-full cursor-pointer peer-checked:bg-ha-tan-1 peer-checked:text-black not-peer-checked:hover:bg-black not-peer-checked:hover:text-white bg-gray-400 ">
            <div class="block">
              <div class="w-full text-lg font-semibold">{{ therapist.name | uppercase }}</div>
            </div>
          </label>
        </li>
      </ul>
    </div>

    <input type="text"
      name="initials"
      class="my-12 p-3 text-center border border-gray-500 rounded-full font-semibold bg-ha-tan-1 disabled:bg-gray-500 disabled:text-gray-700"
      placeholder="INITIALS"
      [ngModel]="initials"
      (ngModelChange)="onInitialsChanged($event)"
      [maxLength]="3"
      [disabled]="!selectedTherapist"
      required />

    <div class="relative flex flex-col ">
      <button type="submit"
        class="group p-3 text-xl text-white rounded-full bg-black hover:bg-ha-tan-1 hover:text-black disabled:bg-gray-400 disabled:text-gray-700 font-semibold hover:cursor-pointer"
        [disabled]="initials.length < 2 || selectedTherapist == null"
        (click)="onCheckIn()">SUBMIT
        <span *ngIf="isLoading"
          class="absolute top-[14px] right-[16px] text-white group-hover:text-black hover:text-black animate-spin material-symbols-outlined">progress_activity</span>
        <span *ngIf="showConfirmation"
          class="absolute top-[14px] right-[16px] text-white group-disabled:text-gray-700 group-hover:text-black hover:text-black material-symbols-outlined peer-hover:text-black">check</span>
      </button>
    </div>
  </div>
</div>
